In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

/tmp/ipykernel_8497/470574354.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
import os

url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-09.csv.gz'
output_file = 'yellow_trip_data_2019-9.csv.gz'

os.system(f"wget '{url}' -O '{output_file}'")

In [2]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [23]:
df =pd.read_csv('yellow_trip_data_2019-9.csv.gz',nrows=100)

In [24]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-09-01 00:06:48,2019-09-01 00:25:46,1,2.00,1,N,186,161,2,13.0,3.0,0.5,0.0,0.0,0.3,16.8,2.5
1,1,2019-09-01 00:29:17,2019-09-01 00:57:54,1,5.50,1,N,161,256,2,22.5,3.0,0.5,0.0,0.0,0.3,26.3,2.5
2,1,2019-09-01 00:41:32,2019-09-01 00:41:36,1,2.90,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1,2019-09-01 00:59:11,2019-09-01 00:59:15,1,0.00,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
4,1,2019-09-01 00:39:41,2019-09-01 00:45:06,1,1.50,1,N,95,93,2,7.0,0.5,0.5,0.0,0.0,0.3,8.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:53,2019-09-01 00:49:49,4,1.55,1,N,74,42,2,8.0,0.5,0.5,0.0,0.0,0.3,9.3,0.0
96,2,2019-09-01 00:56:17,2019-09-01 01:04:12,3,1.51,1,N,41,75,2,8.0,0.5,0.5,0.0,0.0,0.3,9.3,0.0
97,1,2019-09-01 00:02:07,2019-09-01 00:12:54,3,3.10,1,N,161,145,1,11.5,3.0,0.5,1.0,0.0,0.3,16.3,2.5
98,1,2019-09-01 00:13:54,2019-09-01 00:33:31,1,7.30,1,N,145,192,2,24.5,0.5,0.5,0.0,0.0,0.3,25.8,0.0
99,2,2019-09-01 00:01:00,2019-09-01 00:04:20,1,1.06,1,N,50,246,1,5.0,0.5,0.5,1.0,0.0,0.3,9.8,2.5

In [5]:
pd.io.sql.get_schema(df,'ny_taxi',con=engine)

'\nCREATE TABLE ny_taxi (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TEXT, \n\ttpep_dropoff_datetime TEXT, \n\tpassenger_count BIGINT, \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" BIGINT, \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [26]:
df_itr =pd.read_csv('yellow_trip_data_2019-9.csv.gz',iterator=True,chunksize=100000,low_memory=False)

In [ ]:
 while True: 

            try:
                t_start = time()
                
                df = next(df_itr)

                df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
                df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

                df.to_sql(name='ny_taxi',con=engine,if_exists='replace')

                t_end = time()

                print('inserted another chunk, took %.3f second' % (t_end - t_start))

            except StopIteration:
                print("Finished ingesting data into the postgres database")
                break

In [8]:
query = """
SELECT * FROM ny_taxi LIMIT 10
"""
pd.read_sql(query,con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1300000,None,2021-01-05 10:38:40,2021-01-05 10:46:20,None,1.30,None,None,170,161,None,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1,1300001,None,2021-01-05 10:17:14,2021-01-05 10:41:21,None,7.90,None,None,216,198,None,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
2,1300002,None,2021-01-05 10:39:00,2021-01-05 10:46:00,None,0.98,None,None,62,62,None,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
3,1300003,None,2021-01-05 10:05:00,2021-01-05 10:19:00,None,1.59,None,None,85,71,None,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
4,1300004,None,2021-01-05 10:18:08,2021-01-05 10:41:40,None,9.87,None,None,236,208,None,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0
5,1300005,None,2021-01-05 10:06:19,2021-01-05 10:26:11,None,10.28,None,None,185,235,None,22.93,0.0,0.5,2.75,0.00,0.3,26.48,0.0
6,1300006,None,2021-01-05 10:10:02,2021-01-05 10:28:14,None,7.14,None,None,55,155,None,24.42,0.0,0.5,2.75,0.00,0.3,27.97,0.0
7,1300007,None,2021-01-05 10:49:03,2021-01-05 11:02:57,None,1.50,None,None,236,161,None,12.50,0.0,0.5,3.16,0.00,0.3,18.96,2.5
8,1300008,None,2021-01-05 10:01:50,2021-01-05 11:01:03,None,11.81,None,None,265,92,None,31.68,0.0,0.5,0.00,0.00,0.3,32.48,0.0
9,1300009,None,2021-01-05 10:43:18,2021-01-05 11:06:16,None,9.78,None,None,83,244,None,28.46,0.0,0.5,2.75,6.12,0.3,38.13,0.0