In [1]:
import pandas as pd
from sqlalchemy import create_engine

/tmp/ipykernel_50751/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [17]:
df=pd.read_csv("zones.csv")

In [7]:
pd.io.sql.get_schema(df,'zones',con=engine)

'\nCREATE TABLE zones (\n\t"LocationID" BIGINT, \n\t"Borough" TEXT, \n\t"Zone" TEXT, \n\tservice_zone TEXT\n)\n\n'

In [19]:
df.to_sql(name='zones',con=engine,if_exists='append')

265

In [20]:
query = """
SELECT * FROM zones LIMIT 10
"""
pd.read_sql(query,con=engine)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone
5      5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6      6           7         Queens                  Astoria    Boro Zone
7      7           8         Queens             Astoria Park    Boro Zone
8      8           9         Queens               Auburndale    Boro Zone
9      9          10         Queens             Baisley Park    Boro Zone